<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User Info</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="main_content">
    <h2>Welcome {{current_user.first_name}} {{current_user.last_name}}</h2>
</div>
<div id="edit_form">
    <form action="/edit_info/{{current_user.id}}" method="post">
        {% csrf_token %}
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" value="{{current_user.first_name}}">
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name" value="{{current_user.last_name}}">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="{{current_user.email}}">
        <input type="hidden" name="user_id" id="user_id" value="{{current_user.id}}">
        <input type="submit" class="submit">
    </form>
</div>
<div class = "errors">
    {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div class="main_content">
    <h2>{{current_user.first_name}}'s Comments</h2>
</div>
{%  for one_comment in current_user.comments_posted.all %}
<div id="comment_delete">
    <p>{{one_comment.comment}} <a href="/delete_comment/{{one_comment.id}}/{{current_user.id}}">Delete this comment</a></p>
</div>
{% endfor %}
<div class="nav_bar">
    <a href="/shows">Back to Shows</a>
</div>
</body>
</html>