<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The official website of the New England death metal band Plea of Insanity">
    <title>The Official Website of Plea Of Insanity</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="nav_bar">
        <a href="/">Home</a>
        <a href="/shows">Shows</a>
        <a href="/media">Media</a>
        <a href="/login_reg">Login or Register</a>
        {% if 'user_id' in request.session %}
        <a href="/logout">Log Out</a>
        <a href="/edit/{{request.session.user_id}}">Edit User Info</a>
        {% endif %}
    </div>
    <div class="main_content">
        <img id='plea_logo_with_band' src="{% static 'images/plea_logo_with_band.jpg' %}" alt="plea_logo_with_band">
    </div>
    <h2>Plea of Insanity is a death metal band from the grim and frostbitten tundra of New England. We have been described as: "Brutal Truth meets Deeds of Flesh" and "a mix of Deicide, Gorguts, and Pestilence." Plea of Insanity finds its roots in early 90's death metal and adds a hint of modern grind and a dark, foreboding atmosphere.
    </h2>
    <div class="nav_bar">
        <a id="facebook-link" href="https://www.facebook.com/pleaofinsanity">Plea of Insanity Facebook</a>
        <p>Contact Plea of Insanity at: thetruepleaofinsanity@gmail.com</p>
        <a id="bandcamp-link"href="https://pleaofinsanity.bandcamp.com/">Plea of Insanity Bandcamp</a>
    </div>
    <div class="main_content">
        <img src="{% static 'images/pete.jpg' %}" alt="Pete">
    </div>
    <p class="description">Pete - Percussion</p>    
    <div class="main_content">
        <img src="{% static 'images/joe.jpg' %}" alt="Joe">
    </div>
    <p class="description">Joe - Guitar, Vocals</p>
    <div class="main_content">
        <img src="{% static 'images/steve.jpg' %}" alt="Steve">
    </div>
    <p class="description">Steve - Bass</p>
    <p class="description">Photos of Plea of Insanity at Ralph's Rock Diner, Worcester, MA - 1/20/20 by Aaron Pepelis <a href="https://www.facebook.com/Returntothepit">Return to the Pit Facebook</a></p>   
</body>
</html>