<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media</title>
    {%  load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="nav_bar">
        <a href="/">Home</a>
        <a href="/shows">Shows</a>
        <a href="/media">Media</a>
        <a href="/login_reg">Login or Register</a>
        {% if 'user_id' in request.session %}
        <a href="/logout">Log Out</a>
        <a href="/edit/{{request.session.user_id}}">Edit User Info</a>
        {% endif %}
    </div>
    <div class="main_content">
        <img id = plea_logo_2 src="{% static 'images/plea_logo_2.jpg' %}" alt="plea logo 2">
    </div>
    <div class="header">
        <h1>Buy Plea of Insanity Albums on Bandcamp</h1>
        <div id="bandcamp">
            <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3058247748/size=large/bgcol=ffffff/linkcol=de270f/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://pleaofinsanity.bandcamp.com/album/plea-of-insanity">Plea of Insanity by Plea of Insanity</a></iframe>
        </div>
    </div>
    <div class="header">
        <h1>Listen to Plea of Insanity on Spotify</h1>
    </div>
    <div class="spotify_player">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/0BjkO9iHUuVXYMM6YAUI1R?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/3PaLByK6ic9r4YyXzJ3Jq3?utm_source=generator" width="100%" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/1h1EVglbN0IxQw0sYeVDdf?utm_source=generator" width="100%" height="250" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
    <div class="header">
        <h1>Plea of Insanity Live</h1>
    </div>
    <div class="media_content">
        <div class="video">
            <p>Firehouse 13, Providence, RI 8/20/16</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1k1WAOu8lm0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video">
            <p>Ralph's Rock Diner, Worcester, MA 3/30/17</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7orvJExFQRk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>