<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media</title>
    {%  load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="nav_bar">
        <a href="/">Home</a>
        <a href="/shows">Shows</a>
        <a href="/media">Media</a>
        <a href="/login_reg">Login or Register</a>
    </div>
    <div class="main_content">
        <img id = plea_logo_2 src="{% static 'images/plea_logo_2.jpg' %}" alt="plea logo 2">
    </div>
    <div class="media_content">
        <div class="video">
            <p>Firehouse 13, Providence, RI 8/20/16</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1k1WAOu8lm0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video">
            <p>Ralph's Rock Diner, Worcester, MA 3/30/17</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7orvJExFQRk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>